html,body
{
    background-color: #F48585;  /* Définit une couleur de fond rose pâle pour toute la page */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f48c8b' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f49391' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f49b96' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f4a29c' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23F4A9A2' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f4b0a8' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f4b7af' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f4bdb5' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f4c4bc' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23F4CBC2' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;  /* Fait en sorte que l'image de fond reste fixe lors du défilement de la page */
    background-size: cover; /* L'image de fond couvre toute la taille de l'écran, sans répétition */
    margin: 0; /* Supprime les marges par défaut autour du body */
    padding: 0; /* Supprime le padding par défaut autour du body */
}

/* DEBUT BODY */

#title
{
    background-image: url('img/title.png'); /* Définit une image de fond pour le titre */
    background-size: cover; /* L'image de fond couvre toute la largeur et hauteur du div */
    background-position: center; /* Centre l'image de fond */
    width: 40%; /* Définit la largeur du titre à 40% de la largeur de son conteneur */
    height: 200px; /* Définit la hauteur du titre */
    margin: auto; /* Centre le titre horizontalement */
    z-index: 1; /* Assure que le titre est placé au-dessus d'autres éléments */
    align-self: center; /* Centre le titre dans un conteneur flex */
}

#logo
{
    position: absolute; /* Centre le titre dans un conteneur flex */
    right: 0; /* Positionne le logo à droite du conteneur */
    max-width: 150px; /* Largeur maximale du logo */
    max-height: 150px; /* Hauteur maximale du logo */
    z-index: 10; /* Assure que le logo est au-dessus d'autres éléments */
}

#HeaderMenu{
    display: flex; /* Utilise un layout flexbox */
    flex-direction: column; /* Organise les éléments du menu en colonne */
    justify-content: space-around; /* Espace les éléments de manière égale */
    padding: 10px; /* Ajoute du padding autour du menu */
}

#BMenu{
    width: 100%; /* Prend toute la largeur disponible */
    max-height: 45px; /* Définit la hauteur maximale du menu */
    justify-content: space-around; /* Aligne les éléments du menu sur toute la largeur */
    flex-direction: row; /* Organise les éléments du menu en ligne */
    display: flex; /* Utilise le modèle flexbox pour le layout */
    background: #fca693; /* Donne une couleur de fond au menu */
    box-shadow: 
        0 2px 0 0 hsl(0 0% 100% / 0.5) inset,
        0 2px 0 0 hsl(0 0% 25% / 0.5);
    border-radius: 20px; /* Arrondit les coins du menu */
    padding: 5px; /* Ajoute du padding à l'intérieur du menu */
    z-index: 1; /* Place le menu au-dessus d'autres éléments */
}
#Home, #Shop, #About, #Contact{
    display: flex; /* Utilise flexbox pour l'alignement des éléments */
    align-items: center; /* Centre les éléments sur l'axe vertical */
    margin: 10px; /* Ajoute de la marge autour de chaque élément */
    cursor: pointer; /* Change le curseur en pointeur au survol */
}

#Home_img{
    width: 45px; /* Définit la taille des icônes */
    height: 45px;
    margin-right: 5px; /* Ajoute de la marge à droite des icônes */
    background-image: url(https://img.icons8.com/?size=100&id=BE56i0LQZMIW&format=png&color=FFFFFF);
    background-size: cover; /* L'image d'icône couvre entièrement la taille définie */
    transition: background-image 0.3s ease-in-out; /* Applique une transition douce au changement d'icône */
}
#Shop_img{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    background-image: url(https://img.icons8.com/?size=100&id=KqV6G325egdQ&format=png&color=FFFFFF);
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}
#About_img{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    background-image: url(https://img.icons8.com/?size=100&id=H4a2nRn9FpDQ&format=png&color=FFFFFF);
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}
#Contact_img{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    background-image: url(https://img.icons8.com/?size=100&id=bvXrXfnimMOf&format=png&color=4e008a);
    background-size: cover;
    filter: drop-shadow(0px 0px 4px #9c27f6);
    transition: background-image 0.3s ease-in-out;
}
#BMenu #Contact a
{
    color: #4e008a; /* Change la couleur du texte au survol */
    text-shadow: 0 0 10px #c16fff, 0 0 20px #c16fff, 0 0 30px #c16fff; /* Ajoute une ombre lumineuse au texte */

}
#BMenu a{
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    font-weight: bold; /* Applique un poids de police en gras */
    font-size: 30px; /* Définit la taille du texte à 30px */
    color: white; /* Donne une couleur blanche au texte */
    font-family: "Asap", sans-serif;  /* Définit la police du texte en "Asap" ou une police sans-serif par défaut */
    transition: color 0.3s ease, text-shadow 0.3s ease;  /* Ajoute une transition de 0.3 seconde pour les changements de couleur et d'ombre de texte */
}
#BMenu #Home:hover a,#Shop:hover a, #About:hover a, #Contact:hover a{
    color: #4e008a; /* Change la couleur du texte en violet foncé (#4e008a) au survol */
    text-shadow: 0 0 10px #c16fff, 0 0 20px #c16fff, 0 0 30px #c16fff; /* Applique une ombre lumineuse colorée sur le texte au survol */
}
#BMenu #Home:hover #Home_img{
    background-image: url(https://img.icons8.com/?size=100&id=BE56i0LQZMIW&format=png&color=4e008a); /* Change l'icône de fond en violet au survol */
    filter: drop-shadow(0px 0px 4px #9c27f6); /* Ajoute une ombre portée à l'image avec une couleur violette */
}
#BMenu #Shop:hover #Shop_img{
    background-image: url(https://img.icons8.com/?size=100&id=KqV6G325egdQ&format=png&color=4e008a);  /* Change l'icône de "shop" en violet au survol */
    filter: drop-shadow(0px 0px 4px #9c27f6); /* Ajoute une ombre portée à l'image avec une couleur violette */
}

#BMenu #About:hover #About_img{
    background-image: url(https://img.icons8.com/?size=100&id=H4a2nRn9FpDQ&format=png&color=4e008a);  /* Change l'icône de "about" en violet au survol */
    filter: drop-shadow(0px 0px 4px #9c27f6); /* Ajoute une ombre portée à l'image avec une couleur violette */
}
#BMenu #Contact:hover #Contact_img{
    background-image: url(https://img.icons8.com/?size=100&id=bvXrXfnimMOf&format=png&color=4e008a);  /* Change l'icône de "contact" en violet au survol */
    filter: drop-shadow(0px 0px 4px #9c27f6); /* Ajoute une ombre portée à l'image avec une couleur violette */
}

#social-media, #contact-info {
    display: flex; /* Utilise flexbox pour organiser les éléments horizontalement */
    align-items: center; /* Aligne les éléments au centre sur l'axe vertical */
    color: #ffd5cc; /* Définit la couleur du texte à un rose pâle */
    margin: 10px; /* Ajoute une marge autour de chaque section */
}

#social-media a {
    color: #FFD5CC; /* Donne la même couleur au texte des liens dans les réseaux sociaux */
    text-decoration: none; /* Supprime le soulignement des liens */
    font-style: italic; /* Applique une italique au texte des liens */
}

#social-media img, #contact-info img {
    width: 25px; /* Définit la largeur des icônes d'image */
    height: 25px; /* Définit la hauteur des icônes d'image */
    margin-right: 5px; /* Ajoute une marge à droite des images */
}

.contact{
    margin: auto; /* Centre le formulaire horizontalement */
    background-color:#FFD5CC; /* Couleur de fond rose clair */
    max-width : 500px; /* Limite la largeur maximale du formulaire */
    padding: 30px;  /* Ajoute du padding autour du contenu */
    border-radius: 10px; /* Arrondit les coins du formulaire */

}
.contact h1{
    font-size: 20px;/* Taille du titre du formulaire */
}

.contact .separation{
    width: 100%; /* La séparation occupe toute la largeur de l'élément parent */
    height: 1px; /* La séparation a une hauteur de 1px */
    background-color:#e06a50; /* La couleur de fond de la séparation est un orange/rouge */
}
.contact .corps-formulaire{
    display:flex; /* Utilise flexbox pour organiser les champs du formulaire */
    flex-wrap:wrap; /* Permet aux champs de se replier sur plusieurs lignes si nécessaire */
    margin-bottom:30px; /* Espace entre les champs et le bas du formulaire */
}

.contact .corps-formulaire .boite{
    position: relative; /* Permet de positionner des éléments à l'intérieur de façon absolue par rapport à ce conteneur */
    margin-top:20px;  /* Ajoute une marge de 20px en haut de chaque boîte */
    display:flex; /* Organise les éléments à l'intérieur de la boîte avec flexbox */
    flex-direction:column; /* Organise les éléments à l'intérieur en colonne (verticalement) */
}
.contact .corps-formulaire .gauche .boite input{
    margin-top:5px; /* Marge de 5px en haut de chaque champ de saisie */
    padding:10px 5px 10px 20px; /* Espacement intérieur (padding) autour du texte dans l'input */
    border: 1px solid #c9c9c9; /* Bordure grise autour du champ de saisie */
    outline-color:#e06a50; /* Définit la couleur de l'outline (lorsque le champ est sélectionné) en orange */
    border-radius: 5px; /* Arrondit les coins du champ de saisie à 5px */
}

.contact .corps-formulaire .gauche .boite i{
    position: absolute;  /* Positionne l'icône de façon absolue par rapport à la boîte contenant l'input */
    left:-4px; /* Positionne l'icône légèrement à gauche du champ de saisie */
    top: 25px; /* Positionne l'icône à 25px du haut du champ de saisie */
    padding: 9px 8px;  /* Ajoute un espacement de 9px verticalement et 8px horizontalement */
    color:#e06a50; /* Définit la couleur de l'icône en orange */
}

.contact .corps-formulaire .droite{
    margin-left: 40px; /* Ajoute une marge de 40px à gauche pour espacer cette section des autres éléments */
}

.contact .corps-formulaire .droite .boite{
    height:100%; /* Prend toute la hauteur disponible */
}
 .contact .corps-formulaire .droite .boite textearea{
    margin-top:5px; /* Marge de 5px en haut */
    padding: 10px; /* Espacement intérieur de 10px autour du texte */
    background-color: #f8f8f8; /* Couleur de fond gris clair */
    border:2px solid #e06a50; /* Bordure orange autour du champ */
    outline: none; /* Supprime l'outline par défaut */
    border-radius: 5px; /* Coins arrondis */
    resize: none; /* Désactive la possibilité de redimensionner le champ de texte */
    height: 72%; /* Hauteur fixée à 72% de la hauteur disponible */
 }
 .droite textarea{
    height: 81%; /* Définit la hauteur à 81% de la hauteur du conteneur */
    width: 150%; /* Définit la largeur à 150% de la largeur du conteneur */
    resize: none; /* Désactive la possibilité de redimensionner */
 }

 .contact .pied-formulaire button{
    margin-top: 10px; /* Marge de 10px au-dessus du bouton */
    background-color:#e06a50; /* Couleur de fond du bouton en orange */
    color:white; /* Couleur du texte du bouton en blanc */
    font-size: 15px; /* Taille de police de 15px */
    border: none; /* Retire la bordure par défaut */
    padding: 10px 20px;  /* Ajoute un espacement intérieur de 10px en haut et en bas, 20px à gauche et à droite */
    border-radius: 5px; /* Arrondit les coins du bouton */
    outline: none; /* Supprime l'outline */
    cursor: pointer; /* Change le curseur en pointeur pour signaler qu'il est cliquable */
    transition: transform 0,5s;  /* Ajoute une transition de transformation sur 0.5s */
 }
 .contact .pied-formulaire button:hover{
    transform: scale(1,1.2); /* Augmente la taille du bouton sur l'axe vertical (1.2x) au survol */ 
 }

 @media screen and (max-width:920px){
    .contact .corps-formulaire .droite{
        margin-left: 0px; /* Supprime la marge à gauche de la section droite sur les petits écrans */
    }
 }

/* FIN BODY */


/* DEBUT FOOTER */

footer {
    position: fixed; /* Position fixe en bas de la page */
    left: 0; /* Fixe à gauche */
    right: 0; /* Fixe à droite */
    bottom: 0; /* Fixe en bas */
    width: 100%; /* Largeur du footer sur toute la page */
    background-color: #fca693; /* Couleur de fond */
    display: flex; 
    justify-content: space-between; /* Espaces égaux entre les éléments */
    align-items: center; /* Centre verticalement les éléments */
    border-top-left-radius: 20px; /* Arrondir le coin supérieur gauche */
    border-top-right-radius: 20px; /* Arrondir le coin supérieur droit */
}
footer a {
    font-style: italic; /* Texte en italique */
    color: #ffd5cc; 
    margin-right: 10px;  /* Marge à droite des liens */
}

/* FIN FOOTER */